    <section class="py-6">
      <div class="container">
        <div class="columns">
          <div class="column is-6 has-text-centered-mobile">
            <p class="has-text-weight-medium">Copyright © 2025 Grit Hofmann. All Rights Reserved</p>
          </div>
          <div class="column is-6 has-text-right has-text-centered-mobile">
            <a href="https://www.instagram.com/grit.hofmann/" target="_blank" class="icon mr-2" aria-label="Connect with Grit Hofmann on Instagram">
              {% include "svg/instagram.svg" %}
            </a>
            <a href="https://www.linkedin.com/in/grit-hofmann-5334624b/" target="_blank" class="icon" aria-label="Connect with Grit Hofmann on LinkedIn">
              {% include "svg/linkedin-in.svg" %}
            </a>
          </div>
        </div>
      </div>
    </section>