    <section class="content">
      <div class="container pt-5">
        <div class="columns is-vcentered">
          <div class="column is-narrow has-text-centered-mobile">
            <p class="has-text-weight-medium">Copyright © 2025 Grit Hofmann. All Rights Reserved</p>
          </div>
          <div class="column has-text-centered-mobile is-flex is-justify-content-center">
            <span class="is-size-6 mr-4">Follow me on: </span>
            <div class="is-flex is-align-items-center">
              <a href="https://www.instagram.com/grit.hofmann/" target="_blank" class="icon mr-4" aria-label="Connect with Grit Hofmann on Instagram">
                {% include "svg/instagram.svg" %}
              </a>
              <a href="https://www.linkedin.com/in/grit-hofmann-5334624b/" target="_blank" class="icon mr-4" aria-label="Connect with Grit Hofmann on LinkedIn">
                {% include "svg/linkedin-in.svg" %}
              </a>
              <a href="https://x.com/grit_hofmann" target="_blank" class="icon" aria-label="Connect with Grit Hofmann on X">
                {% include "svg/x-twitter.svg" %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>