    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item is-size-5" href="https://grithofmann.net">
            <p class="is-2 title">Grit Hofmann</p>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end is-hidden-mobile is-hidden-tablet-only">
          {%- for item in navigation.nav_items %}
            {%- if item.header %}
            <a href="{{ item.url }}" class="navbar-item is-size-5">{{ item.title }}</a>
            {%- endif %}
          {%- endfor %}
          </div>
        </div>
      </nav>
    </header>
