    <header>
      <nav class="navbar pb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item is-size-5" href="https://grithofmann.net">
            <p class="is-2 title is-uppercase">Grit Hofmann</p>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
          {%- for item in navigation.nav_items %}
            {%- if item.header %}
            <a href="{{ item.url }}" class="navbar-item is-size-7 is-uppercase">{{ item.title }}</a>
            {%- endif %}
          {%- endfor %}
          </div>
        </div>
      </nav>
    </header>
