<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website of journalist and marathon runner Grit Hofmann">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" defer>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
    <title>Grit Hofmann | Journalist & Marathon Runner</title>
  </head>
  <body>
    <div class="canvas">
{% include "_header.liquid" %}

{{content}}
    
{% include "_footer.liquid" %}

    </div>
  </body>
</html>
