---
layout: base.liquid
title: Grit Hofmann
---

<section class="content">
{{ content }}

  <div class="container">
    <h1 class="title">Collection</h1>
    <code>{{ contentful | json }}</code>
  </div>

</section>