---
layout: base.liquid
title: Grit Hofmann
---
    <section class="content container">
      <p class="is-size-4">Debug</p>
    </section>

    <section class="content">
      <div class="container">
        <p>cf-collection:</p>
        <code>{{ cf-collections | json }}</code>
      </div>
    </section>