---
layout: base.liquid
title: Grit Hofmann
---
    <section class="content">
      <p class="is-size-5">I'm a journalist for Deutsche Welle and a sports fanatic, who loves to run marathons around the world.</p>
    </section>

{% render "_collections.liquid", collections: cf-collections %}