---
pagination:
  data: portfolio  # _data/portfolio.js
  size: 100
  alias: portfolioCollections
permalink: "/{{ slug }}/"
slug: "portfolio"
layout: base.liquid
title: Grit Hofmann - Portfolio
---
    <h1>Portfolio Collections</h1>

    {%- render "_collections.liquid", collections: portfolioCollections %}