---
pagination:
  data: cf-portfolio  # _data/portfolio.js
  size: 100
  alias: portfolioCollections
permalink: "/{{ slug }}/"
slug: "portfolio"
layout: base.liquid
title: Grit Hofmann - Portfolio
---
    <section class="content">
      <p class="is-size-4">My Portfolio: Selected Video Stories</p>
    </section>

{% render "_collections.liquid", collections: portfolioCollections %}