---
pagination:
  data: runs  # _data/runs.js
  size: 100
  alias: runsCollections
permalink: "/{{ slug }}/"
slug: "runs"
layout: base.liquid
title: Grit Hofmann - Runs
---
    <section class="content">
      <p class="is-size-4">Runs Collections</p>
    </section>

    {% render "_collections.liquid", collections: runsCollections %}