---
pagination:
  data: travels  # _data/travels.js
  size: 100
  alias: travelsCollections
permalink: "/{{ slug }}/"
slug: "travels"
layout: base.liquid
title: Grit Hofmann - Travels
---
    <section class="content">
      <p class="is-size-4">Travels Collections</p>
    </section>

    {% render "_collections.liquid", collections: travelsCollections %}